<div>
  <h2 id="page-heading" data-cy="SocieteHeading">
    <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.home.title">Societes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-societe"
        [routerLink]="['/societe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.home.createLabel"> Create a new Societe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="societes?.length === 0">
    <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.home.notFound">No societes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="societes && societes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="raisonSociale">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.raisonSociale">Raison Sociale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="abreviation">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.abreviation">Abreviation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activite">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.activite">Activite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formeJuridique">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.formeJuridique">Forme Juridique</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codePostale">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.codePostale">Code Postale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ville">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.ville">Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pays">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.pays">Pays</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="region">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.region">Region</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tel">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.tel">Tel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fax">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.fax">Fax</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.mail">Mail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteInternet">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.siteInternet">Site Internet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matriculeFiscale">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.matriculeFiscale">Matricule Fiscale</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logo">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.logo">Logo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="imagesSitePrincipale">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.imagesSitePrincipale">Images Site Principale</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="holding">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.holding">Holding</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etat">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.etat">Etat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateActivation">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.dateActivation">Date Activation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCloture">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.dateCloture">Date Cloture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="importTemplate">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.importTemplate">Import Template</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codeSociete">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.codeSociete">Code Societe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codeOrganigramme">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.codeOrganigramme">Code Organigramme</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formeJuridiquee.id">
            <span jhiTranslate="orgacaregatewayApp.orgaCareSociete.formeJuridiquee">Forme Juridiquee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let societe of societes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/societe', societe.id, 'view']">{{ societe.id }}</a>
          </td>
          <td>{{ societe.raisonSociale }}</td>
          <td>{{ societe.abreviation }}</td>
          <td>{{ societe.activite }}</td>
          <td>{{ societe.formeJuridique }}</td>
          <td>{{ societe.adresse }}</td>
          <td>{{ societe.codePostale }}</td>
          <td>{{ societe.ville }}</td>
          <td>{{ societe.pays }}</td>
          <td>{{ societe.region }}</td>
          <td>{{ societe.tel }}</td>
          <td>{{ societe.fax }}</td>
          <td>{{ societe.mail }}</td>
          <td>{{ societe.siteInternet }}</td>
          <td>{{ societe.matriculeFiscale }}</td>
          <td>
            <a *ngIf="societe.logo" (click)="openFile(societe.logo, societe.logoContentType)">
              <img [src]="'data:' + societe.logoContentType + ';base64,' + societe.logo" style="max-height: 30px" alt="societe image" />
            </a>
            <span *ngIf="societe.logo">{{ societe.logoContentType }}, {{ byteSize(societe.logo) }}</span>
          </td>
          <td>
            <a
              *ngIf="societe.imagesSitePrincipale"
              (click)="openFile(societe.imagesSitePrincipale, societe.imagesSitePrincipaleContentType)"
            >
              <img
                [src]="'data:' + societe.imagesSitePrincipaleContentType + ';base64,' + societe.imagesSitePrincipale"
                style="max-height: 30px"
                alt="societe image"
              />
            </a>
            <span *ngIf="societe.imagesSitePrincipale"
              >{{ societe.imagesSitePrincipaleContentType }}, {{ byteSize(societe.imagesSitePrincipale) }}</span
            >
          </td>
          <td>{{ societe.holding }}</td>
          <td jhiTranslate="{{ 'orgacaregatewayApp.Etat.' + societe.etat }}">{{ societe.etat }}</td>
          <td>{{ societe.dateCreation | formatMediumDatetime }}</td>
          <td>{{ societe.dateActivation | formatMediumDatetime }}</td>
          <td>{{ societe.dateCloture | formatMediumDatetime }}</td>
          <td>
            <a
              *ngIf="societe.importTemplate"
              (click)="openFile(societe.importTemplate, societe.importTemplateContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="societe.importTemplate">{{ societe.importTemplateContentType }}, {{ byteSize(societe.importTemplate) }}</span>
          </td>
          <td>{{ societe.codeSociete }}</td>
          <td>{{ societe.codeOrganigramme }}</td>
          <td>
            <div *ngIf="societe.formeJuridiquee">
              <a [routerLink]="['/forme-juridique', societe.formeJuridiquee?.id, 'view']">{{ societe.formeJuridiquee?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/societe', societe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/societe', societe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(societe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="societes && societes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
