<div>
  <h2 id="page-heading" data-cy="StatusHistoryHeading">
    <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.home.title">Status Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-status-history"
        [routerLink]="['/status-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.home.createLabel"> Create a new Status History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="statusHistories?.length === 0">
    <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.home.notFound">No statusHistories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="statusHistories && statusHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateTransaction">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.dateTransaction">Date Transaction</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="loginUser">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.loginUser">Login User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transaction">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.transaction">Transaction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transactionReference">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.transactionReference">Transaction Reference</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataObject">
            <span jhiTranslate="orgacaregatewayApp.orgaCareStatusHistory.dataObject">Data Object</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statusHistory of statusHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/status-history', statusHistory.id, 'view']">{{ statusHistory.id }}</a>
          </td>
          <td>{{ statusHistory.dateTransaction | formatMediumDatetime }}</td>
          <td>{{ statusHistory.dateFin | formatMediumDatetime }}</td>
          <td>{{ statusHistory.loginUser }}</td>
          <td>{{ statusHistory.transaction }}</td>
          <td>{{ statusHistory.transactionReference }}</td>
          <td>{{ statusHistory.dataObject }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/status-history', statusHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/status-history', statusHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(statusHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="statusHistories && statusHistories.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
