<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-type-contrat-heading"
        data-cy="TypeContratCreateUpdateHeading"
        jhiTranslate="orgacaregatewayApp.orgaCareTypeContrat.home.createOrEditLabel"
      >
        Create or edit a Type Contrat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="orgacaregatewayApp.orgaCareTypeContrat.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="orgacaregatewayApp.orgaCareTypeContrat.abreviation" for="field_abreviation"
            >Abreviation</label
          >
          <input
            type="text"
            class="form-control"
            name="abreviation"
            id="field_abreviation"
            data-cy="abreviation"
            formControlName="abreviation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="orgacaregatewayApp.orgaCareTypeContrat.dateCreation" for="field_dateCreation"
            >Date Creation</label
          >
          <div class="input-group">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="text"
              class="form-control"
              name="dateCreation"
              ngbDatepicker
              #dateCreationDp="ngbDatepicker"
              formControlName="dateCreation"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="orgacaregatewayApp.orgaCareTypeContrat.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
